.footer{
  width: 80%;
  margin: 70px auto;
  display: flex;
  
  box-sizing: border-box;
}

.footer__box-contact{
  width: 220px;
  justify-content: start;
}

.footer__box-logo{
  background-image: url("../img/LogoBlack.svg");
  background-repeat: no-repeat;
  width: 250px;
  height: 100px;   
}

.footer__box-address{
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #6d6d6d;
  padding-bottom: 20px;
}

.footer__products{
  width: 200px;
  height: 100px;
  margin-top: -50px;
  padding-left: 100px;
  
}


.footer__list{
  list-style: none;
  padding: 0;
}

.footer__title{
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  color: #171b1a;
}

.footer__item{
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #6d6d6d;
}

.copyright{
  width: 80%;
  margin: 70px 0px 70px 100px;
  display: flex;
  justify-content: space-between;
  
}

.copyright__text{
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #6d6d6d;
}

.copyright__text:last-child{
  display: flex;
  align-items: center;
}

.copyright__text img{
  padding-left: 20px;
}

.footer__item:hover{
  cursor: pointer;
  color: #2c2b2b;
}


