.effortless{
  width: 99.8%;
  height: 1200px;
  margin: 100px auto 50px auto;
}

.effortless__title{
  font-family: 'Unica One';
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  margin: 100px auto;
}

.effortless__container{
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.effortless__container-title{
  font-size: 24px;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 20px;
  color: #171b1a;
  padding-left: 50px;
}

.effortless__container-text{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 23px;
  padding-left: 50px;
}

.effortless__left img{
  margin-bottom: 20px;
  
}

.effortless__right img{
  position: relative;
  right: -70px;
}



.effortless__img{
  position: absolute;
  left: 285px;
  top:1750px;
  z-index: -1;
}

.effortless__left{
  margin-top: 50px;
  text-align:left;
  position: relative;
  top: 150px;
  left: -10px;
  overflow-x: hidden;
}

.effortless__left:first-child{
  margin-top: 160px;
}

.effortless__right{
  margin-left: 100px;
  margin-top: 100px;
  text-align: end;
}

.effortless__right:first-child{
  margin-top: 450px;
}

.effortless__btn{
  
  margin: 150px 100px 0 100px;
  

}